/* Hide the Scrollbar */
/* 
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
} */


body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #484848; 
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}

/*Css for the health tips page*/
.health-tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.health-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.health-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tip-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #555;
}

.tip-description {
  font-size: 1rem;
  color: #777;
}

.logo {
  height: 24px;
  width: auto;
  transition: transform 0.2s ease; 
}

.logo:hover {
  transform: translateY(-5px);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 45px !important;
  line-height: 1;
  position: relative;
  left: -10px;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}