/* Hide the Scrollbar */

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}


.health-tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.health-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.health-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tip-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #555;
}

.tip-description {
  font-size: 1rem;
  color: #777;
}

.logo {
  height: 24px;
  width: auto;
  transition: transform 0.2s ease; 
}

.logo:hover {
  transform: translateY(-5px);
}



